# Virtual Environments
env/
venv/

# Environment variables
.env 

# Pycache
__pycache__/

# VS Code
.vscode/

# JetBrains
.idea/

# Secrets
secrets/

# Terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform/ 

# Pytest
pytest_cache/
